header {
	background-color: #414040;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.global-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.global-menu li {
	margin-right: 20px;
}

.global-menu a {
	text-decoration: none;
	color: rgb(219, 219, 207);
	font-weight: bold;
}

body {
	background-color: rgb(167, 147, 122);
}
